{% extends 'study/admin/program_detail_admin.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Модуль" "program_detail" kwargs.program_id %}
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Модули программы обучения</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="{% url 'cu_study' kwargs.program_id kwargs.factory %}" method="post" novalidate>
            {% csrf_token %}
            {{ form.id }}
            {{ form.program_id }}
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form.number.label_tag }}</label>
                    {{ form.number }}
                    {% if form.number.errors %}
                        {% for error in form.number.errors %}
                            <p class="help-block text-red"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% else %}
                        <p class="help-block">Номер нужен для определения позиции в содержании</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form.name.label_tag }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="help-block text-red"><strong>{{ error|escape }}</strong></p>
                        {% endfor %}
                    {% else %}
                        <p class="help-block">Назавание модуля не должно быть длинным. Максиму 200 сиволов</p>
                    {% endif %}
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}