{% extends 'adminlte/base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
            {{ block.super }}
            {% breadcrumb 'Разделы' "studymain" %}
            {% breadcrumb 'Список уровней' "list_unit" 'level' %}
 {% endblock %}

{% block content %}
    <div class="row">
        <div class="pad margin no-print">
            <a href="{% url 'create_unit' kwargs.factory %}" class="btn btn-block btn-warning btn-lg">Добавить область обучения</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Области обучения</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                        {% for unit in units %}
                            <tr>
                                <td style="width: 10px">{{ forloop.counter }}.</td>
                                <td>{{ unit.name }}</td>
                                <td style="width: 40px"><a href="{% url 'update_unit' kwargs.factory unit.id %}"
                                                           class="badge bg-green"><i class="fa fa-pencil"></i></a></td>
                                <td style="width: 40px"><a href="{% url 'delete_unit' kwargs.factory unit.id 'delete' %}"
                                                           class="badge bg-red" id="delete"><i
                                        class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}