{% extends 'adminlte/base.html' %}


{% block content %}
    {% load render_table from django_tables2 %}
    <a href="{% url 'create_update_contract' %}" type="button" class="btn btn-block btn-success btn-xs">Создать новый договор</a>
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Заключенные контракты</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
        {% render_table table %}
        </div>
{% endblock %}